[include]
	path = ~/.gitconfig.local

[init]
	defaultBranch = main

[pull]
	ff = only

[push]
	autoSetupRemote = true
	default = simple

[core]
	editor = vim

[diff]
	algorithm = histogram

[alias]
	st = status --short --branch
	lg = log --oneline --graph --decorate --all
	last = log -1 --stat
	unstage = reset HEAD --
